<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="container">
      <main class="content">
        <h1 class="title">Welcome to <%= title %></h1>
        <p class="text-area">
          This iteration of Guessing Game focuses on the Express framework.
          Specifically focusing on routing. Another focus is responsive design
          with CSS Thank you for checking out my project! If you have critiques
          please let me know!
          <br />
          Cheers,
          <br />
          Philip
        </p>
        <nav>
          <a class="nav-link" href="/start">Ready to begin?</a>
        </nav>
      </main>
    </div>
  </body>
</html>
