<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="bg"></div>
    <div class="content bg-text">
      <h1>Welcome to <%= title %></h1>
      <p class="text-area">
        This iteration of Guessing Game focuses on the Express framework.
        <br />
        While using express, new features like serialization will be added.
        <br />
        This version of the Guessing Game will feature a new UI still using EJS.
        <br />
        Thank you for checking out my project!
        <br />
        If you have critiques please let me know!
        <br />
        Cheers,
        <br />
        Philip
      </p>
      <a class="nav-link" href="/start">Ready to begin?</a>
    </div>
  </body>
</html>
