<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <p>This iteration of Guessing Game focuses on the Express framework.</p>
      <p>On top of that, serialization will be implemented as well!</p>
      <p>
        Thank you for checking out my project and if you have critiques please
        let me know!
      </p>
      <p>Cheers,</p>
      <p>Philip</p>
    </div>
  </body>
</html>
