<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/guess.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="guess_form.js"></script>
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>
      <h1>We Startin baby we Startin</h1>
    </div>
  </body>
</html>
