<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/guess.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/start.js"></script>
  </head>
  <body>
    <header></header>
    <main role="main">
      <div class="titlebar-container">
        <div class="titlebar">
          <h1 class="title"><%= title %></h1>
        </div>
      </div>
      <div class="content-layout">
        <div id="content" class="text-content">
          <section id="start">
            <h2 class="instructions">
              The server is thinking of a number between 1 and 10.
            </h2>
            <form id="guess-form" action="/guess" method="post">
              <div class="input-layout">
                <input
                  type="text"
                  name="guess"
                  required
                  placeholder="Your Guess"
                />
                <button id="guess_input" type="submit">Guess</button>
              </div>
            </form>
            <ul></ul>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
