@import url('main.css');
#start,
#guess {
  display: grid;
  grid-gap: 10px;
}

.input-layout {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 1fr 1fr;
  padding: 0 10vw;
}

button {
  grid-row: 2;
}
.input {
  grid-row: 1;
  border-radius: 10px;
}
input {
  background-color: hsla(146, 33%, 62%, 1);
  border-radius: 10px;
}
.instructions {
  background-color: rgb(255, 255, 255);
  border-color: #e6b800;
  border-width: 2px;
  border-radius: 13px;
  padding: 2rem;
  color: black;
  align-self: center;
}
.highGuess {
  background-color: #a64d4d;
  border-color: #8d1919;
}
.lowGuess {
  background-color: #8099e6;
  border-color: #335cd6;
}

ul {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 100%;
}
