@import url('main.css');
#start {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: row;
}

.instructions {
  background-color: rgb(255, 255, 255);
  border-color: #e6b800;
  width: 250px;
  border-width: 2px;
  border-radius: 13px;
  padding: 2rem;
  color: black;
  align-self: flex-start;
}
form {
  align-self: center;
  justify-self: center;
}
.highGuess {
  background-color: #a64d4d;
  border-color: #8d1919;
}
.lowGuess {
  background-color: #8099e6;
  border-color: #335cd6;
}
