body,
html {
  margin: 0;
  line-height: 1.6;
  letter-spacing: -0.00278rem;
  font-size: 1rem;
  font-family: Arial, x-locale-body, sans-serif;
  height: 100%;
}

.title {
  color: white;
  font-size: 5rem;
}

.content {
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  /* The image used */
  background-image: url('../images/OGA3FX0.jpg');

  /* Add blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

form {
  padding: 1rem;
}
label {
  font-weight: 800;
  display: block;
  font-size: 2rem;
}

.nav-link,
button {
  display: block;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  background-color: turquoise;
  font-weight: 800;
  font-size: 1.5rem;
  color: palevioletred;
  text-decoration: none;
}
button,
input {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.nav-link:hover,
button:hover {
  background-color: palevioletred;
  color: turquoise;
  cursor: pointer;
}

ul {
  max-width: 500px;
  padding-left: 0;
}

li {
  padding: 0.5em;
  text-align: center;
  list-style-type: none;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  width: 300px;
  margin-bottom: 0.5em;
}
nav {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}
