/* Color Theme Swatches in HSLA */
.MIUI-11-Always-On-Display-1-hsla {
  color: hsla(219, 46%, 53%, 1);
}
.MIUI-11-Always-On-Display-2-hsla {
  color: hsla(196, 72%, 43%, 1);
}
.MIUI-11-Always-On-Display-3-hsla {
  color: hsla(146, 33%, 62%, 1);
}
.MIUI-11-Always-On-Display-4-hsla {
  color: hsla(0, 41%, 57%, 1);
}
.MIUI-11-Always-On-Display-5-hsla {
  color: hsla(0, 0%, 5%, 1);
}

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: hsla(0, 0%, 5%, 1);
}
body {
  font-family: Arial, x-locale-body, sans-serif;
  font-size: 1.125rem;
  line-height: 1.7;
}
.page-header {
  display: grid;
  margin: 16px 16px;
  align-items: center;
  grid-template-columns: 1fr;
}
#main-navigation {
  display: grid;
  grid-template-columns: auto;
  justify-content: flex-end;
}
#main-navigation label {
  display: inline-block;
  color: #fff;
  font-style: normal;
  font-size: 1.5rem;
  padding: 20px;
  width: min-content;
  justify-self: flex-end;
  border: 3px solid #fff;
}
#main-navigation ul {
  list-style-type: none;
  display: none;
}

#main-navigation input[type='checkbox'] {
  opacity: 0;
}

#main-navigation input:checked ~ ul {
  display: block;
}
#main-navigation ul li {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #333;
}

#main-navigation ul li a {
  text-decoration: none;
}

.titlebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
}
.titlebar-container .title {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  align-items: center;
  width: 100%;
  max-width: 1352px;
  font-weight: 700;
  hyphens: auto;
  color: hsla(219, 46%, 53%, 1);
}
.content-layout {
  display: grid;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1400px;
  grid-template-columns: 100%;
  grid-template-areas: 'main';
}

#content {
  color: hsla(146, 33%, 62%, 1);
}

.introduction {
  grid-area: main;
  padding: 15px 12px;
  box-sizing: border-box;
  width: 100%;
}

.text-content p {
  box-sizing: border-box;
  max-width: 100vw;
  font-weight: 600;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  color: hsla(196, 72%, 43%, 1);
}

h3 {
  font-size: 2.25rem;
  color: hsla(0, 41%, 57%, 1);
}

h4 {
  font-size: 2rem;
  padding-left: 10px;
  color: hsla(0, 41%, 57%, 1);
}

.nav-link,
button {
  border-radius: 10px;
  padding: 1.5rem;
  background-color: hsla(196, 72%, 35%, 1);
  font-weight: 800;
  color: hsla(10, 90.2%, 45.8%, 1);
  text-decoration: none;
}
button,
input {
  padding: 1.75rem 1.5rem;
  font-size: 1.75rem;
}
.nav-link:hover,
button:hover {
  background-color: hsla(10, 90.2%, 45.8%, 1);
  color: hsla(196, 72%, 35%, 1);
  cursor: pointer;
}

#guess-display li {
  padding: 1em;
  text-align: center;
  list-style-type: none;
  border-style: solid;
  border-width: 6px;
  border-radius: 15px;
  width: 300px;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  font-weight: 800;
}

.hidden {
  display: none;
}
